.app .search p {
  text-align: center;
}

.app .search .search-options {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 1rem;
  border: 1px dotted black;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
